<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-col">
      <h4>Acadiana Mesh</h4>
      <p>Building a free, decentralized mesh network in the Acadiana Region.</p>
    </div>
    <div class="footer-col">
      <h4>Resources</h4>
      <ul>
        <li><a href="https://meshcore.io/" target="_blank">MeshCore Website</a></li>
        <li><a href="http://flasher.meshcore.io/" target="_blank">Web Flasher</a></li>
        <li><a href="https://app.meshcore.nz" target="_blank">Web App</a></li>
        <li><a href="https://config.meshcore.dev" target="_blank">Config Tool</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Community</h4>
      <ul>
        <li><a href="{{ site.discord_url }}" target="_blank">Discord</a></li>
        <li><a href="{{ site.analyzer_url }}" target="_blank">Live Analyzer</a></li>
        <li><a href="{{ site.docs_url }}" target="_blank">Documentation</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Network</h4>
      <ul>
        <li><a href="{{ site.analyzer_url }}/#/map" target="_blank">Coverage Map</a></li>
        <li><a href="{{ site.analyzer_url }}/#/nodes" target="_blank">All Nodes</a></li>
        <li><a href="{{ site.analyzer_url }}/#/observers" target="_blank">Observers</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Acadiana Mesh is a community project. MeshCore is open-source software.</p>
    <p>This is not affiliated with emergency services. For emergencies, call 911.</p>
  </div>
</footer>