<section class="subscribe-section">
  <div class="container">
    <h2>Stay Connected</h2>
    <p>Keep up with everything happening around the Acadiana Mesh, including network growth, events, projects, and community news.</p>
    <form method="post" action="https://mail.acadianamesh.com/subscription/form" class="listmonk-form">
      <input type="hidden" name="nonce" />
      <p><input type="email" name="email" required placeholder="E-mail" /></p>
      <p><input type="text" name="name" placeholder="Name (optional)" /></p>
      <input type="hidden" id="3519b" name="l" value="3519b3bd-ecc8-4266-84f0-6723df7ff02d" />
      <altcha-widget challengeurl="https://mail.acadianamesh.com/api/public/captcha/altcha"></altcha-widget>
      <script type="module" src="https://mail.acadianamesh.com/public/static/altcha.umd.js" async defer></script>
      <button type="submit">Subscribe</button>
    </form>
  </div>
</section>